<a href="https://colab.research.google.com/github/inggilove/demo-ai/blob/main/2020_12_MF_SVD_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 추천시스템 테스트

 - MovieLens 1M Dataset
    + MovieLens 1M movie ratings. Stable benchmark dataset. 
    + 1 million ratings from 6000 users on 4000 movies. 
    + Released 2/2003.
 - SVD 참조 : https://lsjsj92.tistory.com/570

 - 처음 만들어본 MF - SVD ( MovieLens 데이터 )
   > k 값을 조절하여 확률개선 ( 크다고 좋은 건 아니고, 75% 로 할 때 적절 )

In [17]:
import os
print(os.getcwd())
!ls
!cd /content
!ls

/content
MyDrive  sample_data
MyDrive  sample_data

In [19]:
from google.colab import drive
drive.mount('/MyDrive')

Mounted at /MyDrive

In [45]:
!cd "/MyDrive"
!ls -l "/MyDrive/My Drive/Colab Notebooks"

total 55
-rw------- 1 root root  1394 Dec 25 01:04  2020.12.kakao-buffalo.ipynb
-rw------- 1 root root 46521 Dec 25 22:40 '2020.12.kakao-buffalo.ipynb의 사본'
drwx------ 2 root root  4096 Dec 25 05:32  ml-1m
drwx------ 2 root root  4096 Dec 25 05:32  ml-25m

In [29]:
import pandas as pd
#df = pd.read_csv("./MyDrive/My Drive/Colab Notebooks/ml-1m/users.dat", sep='::',names=['UserID', 'MovieID', 'Rating', 'Timestamp'])
ratings = pd.read_csv("/MyDrive/My Drive/Colab Notebooks/ml-1m/ratings.dat", sep='::',names=['UserID', 'MovieID', 'Rating', 'Timestamp'])
movies = pd.read_csv("/MyDrive/My Drive/Colab Notebooks/ml-1m/movies.dat", sep='::',names=['MovieID', 'Title', 'Genres'])
users = pd.read_csv("/MyDrive/My Drive/Colab Notebooks/ml-1m/users.dat", sep='::',names=['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'])
#print(ratings)
#print(movies)
#print(users)
ratings.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [38]:
# Data 점검
ratings.groupby('UserID').count().describe()

           MovieID       Rating    Timestamp
count  6040.000000  6040.000000  6040.000000
mean    165.597517   165.597517   165.597517
std     192.747029   192.747029   192.747029
min      20.000000    20.000000    20.000000
25%      44.000000    44.000000    44.000000
50%      96.000000    96.000000    96.000000
75%     208.000000   208.000000   208.000000
max    2314.000000  2314.000000  2314.000000

In [30]:
# @2020.12.25, 
# User-Movie Rating Pivot & Normalization ( 평균값 제거 ) 
#
um_ratings = ratings.pivot( index = 'UserID', columns = 'MovieID', values = 'Rating').fillna(0)
#um_ratings.head()
matrix = um_ratings.values # as_matrix()

import numpy as np
ur_mean = np.mean(matrix, axis = 1)
matrix_u_mean = matrix - ur_mean.reshape(-1, 1)
pd.DataFrame( matrix_u_mean, columns = um_ratings.columns).head()

MovieID      1         2         3     ...      3950      3951      3952
0        4.940097 -0.059903 -0.059903  ... -0.059903 -0.059903 -0.059903
1       -0.129250 -0.129250 -0.129250  ... -0.129250 -0.129250 -0.129250
2       -0.053697 -0.053697 -0.053697  ... -0.053697 -0.053697 -0.053697
3       -0.023745 -0.023745 -0.023745  ... -0.023745 -0.023745 -0.023745
4       -0.168106 -0.168106 -0.168106  ... -0.168106 -0.168106 -0.168106

[5 rows x 3706 columns]

In [32]:
print(matrix_u_mean.shape)
print( min(matrix_u_mean.shape))

(6040, 3706)
3706

In [49]:
#
# SVD
#

# (1) SVD
from scipy.sparse.linalg import svds, eigs

my_k = 200 # 1< k < min(A.shape), 75% 수준인 200개로 k 값 지정 ( Prediction = -1 수준 ), 1000 일 때 -0.65 )
U, sigma, Vt = svds( matrix_u_mean, k = my_k)
print(U.shape)
print(sigma.shape)
print(Vt.shape)
sigma = np.diag(sigma)
sigma[0]

# (2) SVD 특이값 분해를 사용한 MF 를 기반으로 데이터 변경
svd_user_pred_ratings = np.dot( np.dot(U, sigma), Vt ) + ur_mean.reshape(-1,1)
svd_preds = pd.DataFrame(svd_user_pred_ratings, columns = um_ratings.columns)
svd_preds.head()

(6040, 200)
(200,)
(200, 3706)

MovieID      1         2         3     ...      3950      3951      3952
0        4.438997  0.354180  0.270591  ... -0.051693  0.085548 -0.182831
1        0.033703  0.119277  0.472663  ...  0.052210  0.078146  0.256389
2        0.814910  0.502804  0.033820  ...  0.150808  0.005541 -0.051134
3       -0.415438  0.289797 -0.013074  ... -0.053922  0.009408 -0.090798
4       -0.446804 -0.483294  0.114056  ... -0.031281  0.134633 -0.025676

[5 rows x 3706 columns]

In [50]:
#
# 추천
#
def recommend ( df_svd_preds, userid, ori_movies_df, ori_ratings_df, num_recommend=5):
  user_row_no = userid - 1
  sorted_user_pred = df_svd_preds.iloc[ user_row_no ].sort_values(ascending=False)

  user_data = ori_ratings_df[ ori_ratings_df.UserID == userid ]
  user_history = user_data.merge( ori_movies_df, on = 'MovieID' ).sort_values(['Rating'], ascending=False)

  # 기존 등급 데이터 제거
  recommendations = ori_movies_df[ ~ori_movies_df['MovieID'].isin( user_history['MovieID']) ]
  recommendations = recommendations.merge( pd.DataFrame( sorted_user_pred ).reset_index(), on = 'MovieID')
  recommendations = recommendations.rename( columns = {user_row_no: 'Predictions'}).sort_values('Predictions')

  return user_history, recommendations

In [51]:
#
# 추천 테스트
#
old, new = recommend( svd_preds, 330, movies, ratings, 10)
#old.head(10)
new.head(10)

      MovieID  ... Predictions
1356     1500  ...   -1.340943
2272     2502  ...   -1.090907
2023     2248  ...   -0.925768
1417     1573  ...   -0.866622
1517     1682  ...   -0.810506
1849     2064  ...   -0.713425
2018     2243  ...   -0.653006
1706     1914  ...   -0.639585
692       733  ...   -0.626009
1743     1954  ...   -0.609442

[10 rows x 4 columns]